# `pandas` ile birden fazla dosya

In [1]:
import numpy as np
import pandas as pd
import matplotlib

## Merge AlÄ±ÅŸtÄ±rmasÄ±

In [2]:
a_df = pd.DataFrame({
    'Country': ['Germany', 'France', 'Belgium', 'Finland'],
    'Population (M)': [82.8, 67.2, 11.4, 5.5],
    'Capital': ['Berlin', 'Paris', 'Brussels', 'Helsinki']
})
a_df

   Country  Population (M)   Capital
0  Germany            82.8    Berlin
1   France            67.2     Paris
2  Belgium            11.4  Brussels
3  Finland             5.5  Helsinki

In [3]:
b_df = pd.DataFrame({
    'Country': ['Germany', 'France', 'Belgium', 'Canada'],
    'HDI': [0.936, 0.901, 0.916, 0.926]
})
b_df

   Country    HDI
0  Germany  0.936
1   France  0.901
2  Belgium  0.916
3   Canada  0.926

### Ä°Ã§ BirleÅŸtirme AlÄ±ÅŸtÄ±rmasÄ±

In [4]:
inner_merged_df=pd.DataFrame.merge(a_df,b_df,on="Country")
inner_merged_df

   Country  Population (M)   Capital    HDI
0  Germany            82.8    Berlin  0.936
1   France            67.2     Paris  0.901
2  Belgium            11.4  Brussels  0.916

#### Kodunu kontrol et

In [5]:
from nbresult import ChallengeResult

result = ChallengeResult('inner_merge',
    inner_merged_shape=inner_merged_df.shape,
    inner_merged_nulls=sum(inner_merged_df.isnull().sum())
)
result.write()

print(result.check())

============================= test session starts ==============================
platform linux -- Python 3.12.9, pytest-9.0.2, pluggy-1.6.0 -- /home/temel/.pyenv/versions/3.12.9/envs/langchain-env/bin/python
cachedir: .pytest_cache
rootdir: /home/temel/data-science-multiple-files-with-pandas
configfile: pytest.ini
plugins: Faker-40.4.0, langsmith-0.5.0, anyio-4.12.1
collecting ... collected 2 items

test_inner_merge.py::TestInnerMerge::test_inner_merged_nulls PASSED      [ 50%]
test_inner_merge.py::TestInnerMerge::test_inner_merged_shape PASSED      [100%]

============================== 2 passed in 0.32s ===============================


ðŸ’¯ You can commit your code:

git add tests/inner_merge.pickle

git commit -m 'Completed inner_merge step'

git push origin master

### Sol BirleÅŸtirme AlÄ±ÅŸtÄ±rmasÄ±

In [6]:
left_merged_df=pd.DataFrame.merge(a_df,b_df,on="Country",how="left")
left_merged_df

   Country  Population (M)   Capital    HDI
0  Germany            82.8    Berlin  0.936
1   France            67.2     Paris  0.901
2  Belgium            11.4  Brussels  0.916
3  Finland             5.5  Helsinki    NaN

#### Kodunu kontrol et

In [7]:
from nbresult import ChallengeResult

result = ChallengeResult('left_merge',
    left_merged_shape=left_merged_df.shape,
    left_merged_nulls=sum(left_merged_df.isnull().sum())
)
result.write()

print(result.check())

============================= test session starts ==============================
platform linux -- Python 3.12.9, pytest-9.0.2, pluggy-1.6.0 -- /home/temel/.pyenv/versions/3.12.9/envs/langchain-env/bin/python
cachedir: .pytest_cache
rootdir: /home/temel/data-science-multiple-files-with-pandas
configfile: pytest.ini
plugins: Faker-40.4.0, langsmith-0.5.0, anyio-4.12.1
collecting ... collected 2 items

test_left_merge.py::TestLeftMerge::test_left_merged_df_shape PASSED      [ 50%]
test_left_merge.py::TestLeftMerge::test_left_merged_nulls PASSED         [100%]

============================== 2 passed in 0.16s ===============================


ðŸ’¯ You can commit your code:

git add tests/left_merge.pickle

git commit -m 'Completed left_merge step'

git push origin master

### SaÄŸ BirleÅŸtirme AlÄ±ÅŸtÄ±rmasÄ±

In [8]:
right_merged_df=pd.DataFrame.merge(a_df,b_df,on="Country",how="right")
right_merged_df

   Country  Population (M)   Capital    HDI
0  Germany            82.8    Berlin  0.936
1   France            67.2     Paris  0.901
2  Belgium            11.4  Brussels  0.916
3   Canada             NaN       NaN  0.926

#### Kodunu kontrol et

In [ ]:
from nbresult import ChallengeResult

result = ChallengeResult('right_merge',
    right_merged_shape=right_merged_df.shape,
    right_merged_nulls=sum(right_merged_df.isnull().sum())
)
result.write()

print(result.check())